streamlit~=1.39.0
python-dotenv~=1.0.1
passlib~=1.7.4
requests
bcrypt
debugpy
python-dotenv
langchain-core
langchain
langchain-openai
streamlit
streamlit-option-menu
requests
pillow
langchain-community
pypdf
pinecone
langchain-pinecone
streamlit-chat
pandas
