streamlit~=1.39.0
python-dotenv~=1.0.1
passlib~=1.7.4
requests
debugpy
python-dotenv
langchain-core
langchain
langchain-openai
streamlit
requests
pillow
Pillow
langchain-community
pypdf
pinecone
langchain-pinecone
streamlit-chat
pandas